<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>scrCaseManagerView</title>
    <style>
      *{
        padding: 0;
        margin: 0;
      }
      section {
      width: 50%;
      height: 100vh;
      padding: 20px;
      background-color: #f5f5f5;
      border-right: 1px solid #ddd;
      }
      
      body {
        display: flex;
        width: 100%;
        overflow-x: hidden;
      }
    </style>
    
  </head>
  <body>
    
    <section>
    <a href="{% url 'scrCaseManagerTable' %}">Gå tilbake</a>

    {% if messages %}
    
      <div class="messages">
      {% for message in messages %}
      <div class="alert alert-{{ message.tags }}">{{ message }}</div>
      {% endfor %}
    </div>
    {% endif %}
    <div>
      {% if case %}
      <h2>Sak #{{ case.case_id }}: {{ case.title }}</h2>
      <button id="submitbtn" form="statusForm" type="submit">lagre</button>
      <p>{{case.description}}</p>
      <br />
      <p>{{case.category}}</p>
      <br />
      <p>{{case.urgency}}</p>
      <br />
      <form
        id="statusForm"
        method="POST"
        action="{% url 'CaseManagerUpdateCase' case.case_id %}"
      >
        {% csrf_token %}
        <label for="status">status:</label><br />
        <select id="status" name="status">
          <option value="" id="emptyCaseStat"></option>
          <option value="pending">Venter..</option>
          <option value="Case_Created">Sak opprettet</option>
          <option value="Under_process">Under behandling</option>
          <option value="Assigned_date">Tilordnet dato</option>
          <option value="Completed">Fullført</option>
        </select>
        <br />
        <label for="assigned_to">Tildel til:</label><br />
        <select id="assigned_to" name="assigned_to">
          <option value="">{{assigned}}</option>
          {% for staff_user in staffs %}

          <option value="{{ staff_user.id }}">{{ staff_user.username }}</option>
          {% endfor %}
        </select>
        <br />
        <label for="Appointment_date">Timeavtale:</label>
        <br />
        <input
          type="datetime-local"
          id="Appointment_date"
          name="Appointment_date"
          value="{% if case.appointment_date %}{{ case.appointment_date|date:'Y-m-d\TH:i' }}{% endif %}"
        />
      </form>
      <br /><br />
      <br />

      <p>{{case.changed_at}}</p>
      <br />
      <p>{{case.created_at}}</p>
      {% endif %}
    </div>
    </section>
    
    
    <section>
      <div>
      {% if comments %} {% for comment in comments %}
      <div>
      <p><strong>{{ comment.user }}</strong> - {{ comment.created_at }}</p>
      <p>{{ comment.text }}</p>
      </div>
      {% endfor %}
        
      {% endif %}
    </div>
    <div>
      <form method="POST" action="{% url 'CaseManagerNewComment' case.case_id case.have_comments %}">
      {% csrf_token %}
      <input type="text" name="inpNewComment" id="inpNewComment">
      <button type="submit">Send</button>
      </form>
    </div>
    </section>
    
  </body>
  
  <script>
    const caseStatus = "{{ case.status }}";
    const emptyStat = document.getElementById("emptyCaseStat");

    switch (caseStatus) {
      case "pending":
        emptyStat.innerHTML = "Venter..";
        break;
      case "Case_Created":
        emptyStat.innerHTML = "Sak opprettet";
        break;
      case "Under_process":
        emptyStat.innerHTML = "Under behandling";
        break;
      case "Assigned_date":
        emptyStat.innerHTML = "Tilordnet dato";
        break;
      case "Completed":
        emptyStat.innerHTML = "Fullført";
        break;
    }
  </script>
</html>
